.home-latest-entries {
    margin-top: 4rem;
}

@include respond-to($lg) {
    .home-latest-blogs {
        padding-right: $gutter;
    }

    .home-latest-entries {
        padding-left: $gutter;
        margin-top: 0;
    }
}


.home-a-spot {
    padding: 3rem;
    margin: 4rem auto;
    color: white;
    background: $color-brand;
    text-align: center;
    width: 100%;
    max-width: $container-width;

    a {
        display: inline-block;
        // border: 3px solid white;
        box-shadow: 0 0 0 3px  white inset;
        margin-top: 1rem;
        color: white;
        padding: 0.5em 1em;
        border-radius: 0.25em;

        &:hover {
            // box-shadow: 0 0 0 4px  white inset;
            background-color: white;
            color: $color-cta;
        }
    }
}

.stuff {
    height: 8rem;
    display: none;
    div {
        height: 1rem;
        transform-origin: center;
    }
    div:nth-of-type(1) {
        background: rgba(#5BC0EB, 1);
        transform: rotateZ(0.5deg);
        visibility: hidden;
    }

    div:nth-of-type(2) {
        background: rgba(#D0FEF5, 1);
        transform: rotateZ(1deg);
    }

    div:nth-of-type(3) {
        background: rgba($color-brand, 1);
        transform: rotateZ(-1deg);
    }

    div:nth-of-type(4) {
        background: rgba(#2E2D4D, 1);
        transform: rotateZ(-1.5deg);
    }

    div:nth-of-type(5) {
        background: rgba(#FA7921, 1);
        transform: rotateZ(-1deg);
        visibility: hidden;
    }
}
