.sidemenu {
    padding-right: 1rem;

    li {
        padding: .25rem;
        font-weight: 400;
        cursor: pointer;
        font-variant: small-caps;
        letter-spacing: .05em;

        &:hover {
            background: $color-lightestgrey;
        }

        &.active {
            font-weight: 700;
            background-color: $color-lightestgrey;
        }
    }

    li:first-of-type {
        margin-bottom: 2rem;
    }

}
