<section class="maps">
  <iframe
    class="maps__iframe"
    src="https://www.google.com/maps/d/embed?mid=1GEWKiwKZUeoRHj2ZINUQsYcwpa4"
    frameborder="0"
    allowfullscreen
  >
  </iframe>
</section>
