.aspot {
  width: 100%;
  margin: 0 auto 4rem auto;
  padding: 3rem;
  background: $color-brand;
  color: $color-white;
  text-align: center;

  @include respond-to("screen and (min-width: 1181px)") {
    max-width: $container-width;
    margin-top: 4rem;

    & + .aspot {
      margin-top: 0;
    }
  }

  &__button {
    display: inline-block;
    margin-top: 1rem;
    padding: .5em 1em;
    border-radius: .25em;
    color: $color-white;
    box-shadow: 0 0 0 3px $color-white inset;

    &:hover {
      background-color: $color-white;
      color: $color-cta;
    }
  }

  &--vibrant {
    background-image: $gradient;
  }

  &--secondary {
    background-color: $color-background-alt;
    color: $color-text;
  }
}
