/* Single comment */
.comment {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dotted $color-lightestgrey;

  .comment-header {
    display: flex;
    justify-content: space-between;
  }

  .comment-content {
    font-family: $font-family-serif;
  }
}

/* Comments section */
.comments {
  min-height: 30vh;

  .comments-header {
    margin-top: 4rem;
    margin-bottom: 2rem;
    background-color: $color-background-alt;

    > div {
      display: flex;
      max-width: $content-width;
      margin: 0 auto;
      padding-top: $padding-vertical;
      padding-bottom: $padding-vertical;
      justify-content: space-between;
    }
  }

  .banner-inline {
    margin-bottom: 2rem;
  }

  .comments-title {
    @include title-minor;

    display: inline-block;
    line-height: 2rem;
  }
}
