.excerpt {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 4rem 0 4rem 0;

  &:first-child {
    margin-top: 0;
  }

  &__image {
    display: none;
    max-width: 25%;
    margin-right: 1rem;

    @include respond-to($md) {
      display: block;
    }

    &-link {
      display: block;
    }
  }

  &__header {
    &-title {
      margin-bottom: .2rem;
      font-size: $font-size-md;
      line-height: $line-height-md;

      a {
        border: 0;
      }
    }

    &-brief {
      margin-bottom: 1.5rem;
    }

    &-meta {
      color: $color-darkgrey;
      font-size: .8rem;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
  }
}

.excerpt + .excerpt {
  padding-top: 4rem;
  border-top: 1px solid $color-lightergrey;
}

.mini {
  &:first-of-type {
    .image-link {
      display: block;
    }
  }

  .image-link {
    display: none;
    margin-bottom: .5rem;
  }

  .image {
    width: 100%;
  }

  .category {
    color: $color-darkgrey;
    font-size: .8rem;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .title {
    font-size: $font-size-md;
    line-height: $line-height-md;

    a {
      border: 0;
    }
  }
}

.mini + * {
  margin-top: 2rem;
}
