.footer {
  padding-top: $padding-footer;
  padding-bottom: $padding-footer;
  border-top: 10px $color-accent solid;
  background: $color-background-alt;
  color: $color-darkergrey;
  text-align: center;

  p {
    margin-bottom: 1rem;
  }

  @include respond-to($md) {
    text-align: left;
  }
}
