$ff-serif: "Bitter", "adelle", Georgia, "Times New Roman", serif;
$ff-sans: /*"Open Sans",*/ "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;

%hyphenation {
  -ms-word-break: break-all;
  word-break: break-all;

  // Non standard for webkit
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
}

html {
  font-size: 16px;

  @include respond-to($md) {
      font-size: 18px;
  }
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html,
button,
input,
select,
textarea {
  /* Set your content font stack here: */
  font-family: $ff-sans;
}

body {
  font-family: $ff-sans;
  font-size: 100%;
  line-height: 1.3em;
  color: $color-text;
}

h1, h2, h3, h4 {
  text-rendering: optimizeLegibility;
  font-family: $ff-sans;
  // font-family: $ff-serif;
}

$fs-title-page: 2.4rem;
$fs-title-sub: 2.0rem;
$fs-title-major: 1.5rem;
$fs-title-minor: 1.0rem;
$fs-small: 0.8rem;

a {
  display: inline-block;
  color: $color-text;
  // border-bottom: 2px solid $color-brand;
  text-decoration: none;
  // &:hover {
  //   border-color: $color-text;
  // }
}

@mixin title-page {
    font-size: 2.4em;
    line-height: 1.2em;
    font-weight: 700;
    font-family: $ff-sans;
}

%title-page {
  @include title-page;
}

%title-sub {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
  font-family: $ff-sans;
}

%title-major {
  font-size: 1.5em;
  line-height: 1.15em;
  font-weight: 700;
  font-family: $ff-sans;
}

%title-minor {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 700;
  font-family: $ff-sans;
}

.title-page {
    @extend %title-page;
}

.title-major {
  @extend %title-major;
}

.title-minor {
  @extend %title-minor;
}

.title-list {
    font-size: 1.2rem;
    line-height: 1.5em;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $color-lightergrey;
    text-align: center;
    font-family: $ff-serif;
}

hr {
    border: none;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin: 4rem;
    border-bottom: 1px solid $color-lightergrey;
    height: 1px;
}

.is-copy {
  h1, h2, h3, h4 {
    font-family: $ff-sans;
  }

  p, ul, ol {
    font-family: $ff-sans;
    font-weight: 400;
    color: #444;
  }

  // Tracking
  h1, h2, h3, h4 {
    line-height: 1.1em;
  }
  p, li {
    line-height: 1.6em;
  }


  // Spacing
  h1, h2, h3, h4 {
    margin-top: 2rem;
  }

  p + p,
  p + ul,
  p + ol {
    margin-top: 1rem;
  }

  h1, h2, h3, h4 {
      + p,
      + ul,
      + ol {
          margin-top: 0.5rem;
      }
  }

  // Lists
  li {
    display: list-item;
  }
  ul, ol {
    padding-left: 1.5em;
  }
  ul {
    list-style-type: disc;
  }

  abbr {
    font-variant: small-caps;
    font-weight: 500;
  }

  a {
      display: inline;
      border-bottom: 2px solid $color-brand;
      &:hover {
          border-color: $color-text;
      }
  }
}
