.editor {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  // input {
  //   border: none;
  //   background: white;
  //   // display: table-cell;
  //   // width: auto;
  //   font-size: 1.5rem;
  //   line-height: 2rem;
  // }

  // textarea {
  //   font-family: monospace;
  // }

  .editor-row {
    display: table-row;

    border-bottom: 1px solid gray;
    // cell-spacing:
  }

  .editor-label, .editor-input {
    display: table-cell;
  }

  .editor-label {
    font-family: $ff-serif;
    padding-right: $padding-vertical;

    font-weight: 700;
    text-transform: uppercase;

    vertical-align: middle;
    // font-size: 1rem;
    // line-height: 2rem;
  }

  .editor-input {
    width: 90%;

    vertical-align: top;
  }

  textarea, input {
    width: 100%;
  }

  textarea {
    height: 100%;
  }
}
