%input {
  background: $color-lightestgrey;
  border-radius: 3px;
  border: 1px solid $color-lightgrey;
  padding: .3em .5em;
  color: $color-text;
  width: 100%;
}

input[type="text"], input[type="password"], textarea {
  @extend %input;
}

label {
  font-weight: 700;
}

.input input[type="text"] {
  background: transparent;
  display: inline-block;
  border: 0;
  padding: 0 0 0 .2em;
  padding-left: .2em;
}
.input input::-moz-placeholder {
  color: white;
  opacity: none;
}

%button {
  font-family: $ff-sans;
  display: inline-block;

  font-weight: 700;
  cursor: pointer;
  background: transparent;


  color: black;

  &:hover {
      background-color: black;
      color: white;
  }

  &.inverted {
    color: white;
    border-color: white;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  &.brand {
    color: $color-brand;
    border-color: $color-brand;
    &:hover {
      background-color: $color-brand;
      color: white;
    }
  }
}

.button {
  @extend %button;
  padding: .3em .5em;
  border: 2px solid black;
}

.button-small {
  @extend %button;
  padding: .1em .3em;
  border: 1px solid black;
}
