%outer-gutter {
  padding: 0 5%;
}

$container-width: 1400px;

.page-container {
  @extend %outer-gutter;
}

.container {
  margin: 0 auto;
  max-width: $container-width;
  //@extend %clearfix;
  //overflow: auto;
  padding: 1rem;
}

.float-right {
  float: right;
}
