%outer-gutter {
    padding: 0 5%;
}

$container-width: 1200px;

.page-container {
    @extend %outer-gutter;
    
}

.container {
	max-width: $container-width;
    margin: 0 auto;
    //@extend %clearfix;
    //overflow: auto;
	padding: 1rem;
}

.float-right {
	float: right;
}