<template name="notFound">
    <section class="container page-container">
      <div class="pure-g">
        <div class="pure-u-1 is-copy">
            <h1 class="title-page">Hoppala!</h1>
            <h2 class="title-major">Diese Seite gibt's hier leider nicht.</h2>

            <p>Da haben wir dir entweder einen falschen Link gegeben, oder er ist veraltet.</p>
            <p><strong>Entschuldigung dafür!</strong> Wir würden das gerne wieder gut machen. Schau doch mal <a href="/">auf unserer Startseite</a>, was es sonst noch für dich auf actree.org zu entdecken gibt!</p>
            <p>Dein actree-Team</p>
        </div>
      </div>
    </section>
</template>
