.sidemenu {
    padding-right: 1rem;

    label {
        padding: .25rem;
        font-weight: 400;
        cursor: pointer;
        font-variant: small-caps;
        letter-spacing: .05em;

        &:hover {
            background: $color-lightestgrey;
        }
    }

    li:first-of-type label {
        margin-bottom: 2rem;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked + label {
        font-weight: 700;
        background-color: $color-lightestgrey;
    }
}
