<template name="createPost">
    <label for="post-title">Title</label>
    <input type="text" id="post-title" value="{{title}}">

    <label for="post-slug">Slug</label>
    <input type="text" id="post-slug" value="{{slug}}"> <input type="checkbox" id="post-slug-autogenerate"><label for="post-slug-autogenerate">Autogenerate slug</label>

    <label for="post-summary">Summary</label>
    <input type="text" id="post-summary" value="{{summary}}">

    <textarea name="" id="post-text" cols="100" rows="50">{{text}}</textarea>

    <button class="save-post">Save post</button>
</template>