<template name="adminPosts">
    <aside class="admin-actions">
        <a href="/admin/posts/new/edit" class="button"><i class="ion-plus-round"></i> Create Post</a>
    </aside>
    
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Actions</th>
            <th>Status</th>
        </tr>
        {{#each posts}}
            {{> adminPost}}
        {{/each}}
    </table>
</template>

<template name="adminPost">
    <tr>
        <td><a href="/blog/{{slug}}">{{title}}</a></td>
        <td>{{getAuthor createdBy}}</td>
        <td>{{formatDate createdAt}}</td>
        <td>
            {{#if canEdit .}}
                <a class="button-small" href="/admin/posts/{{_id}}/edit">Edit</a>
                <a class="button-small not-implemented" href="">Delete</a>
            {{/if}}
            {{#if canPublish .}}
                <a class="button-small publish-post" href="">Publish</a>
            {{/if}}
            {{#if canUnpublish .}}
                <a class="button-small unpublish-post" href="">Unpublish</a>
            {{/if}}
        </td>
        <td>
                {{#if published}}
                    <i class="ion-earth"></i> Published
                {{else}}
                    <i class="ion-edit"></i> Draft
                {{/if}}
        </td>
    </tr>
</template>