<template name="adminUsers">
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Created</th>
            <th>Role</th>
            <th>ID</th>
        </tr>
        {{#each users}}
            {{> adminUser}}
        {{/each}}
    </table>
</template>

<template name="adminUser">
    <tr>
        <td>{{username}}</td>
        <td>{{emails.[0].address}}</td>
        <td>{{createdAt}}</td>
        <td>
            <select name="" id="" selected="">
                {{#each userRole in userRoles}}<option value="{{userRole}}" {{isSelected profile.role userRole}}>{{userRole}}</option>{{/each}}
            </select>
        </td>
        <td>{{_id}}</td>
    </tr>
</template>