.sidemenu-list {
    display: none;
    @include respond-to($md) {
        display: block;
    }
    padding-right: 1rem;

    li {

        a {
            display: block;
            padding: .25rem;
            font-weight: 400;
            cursor: pointer;

            &:hover {
                background: $color-lightestgrey;
            }
        }

        &.active a {
            font-weight: 700;
            background-color: $color-lightestgrey;
        }
    }

    li:first-of-type {
        margin-bottom: 2rem;
    }

}

.sidemenu-select {
    display: block;

    width: 100%;
    margin-bottom: 2rem;

    @include respond-to($md) {
        display: none;
    }
}
