<template name="login">
    {{#if showLogin}}
        <div class="dialog">
        <div class="dialog-content">
        {{#if loggingIn}}
            (spinner)
        {{else}}
        <form action="" class="login-form half-left">
            <h3>Log into actree</h3>

            <label for="login-email">Email</label>
            <input type="text" id="login-email" name="email">

            <label for="login-password">Password</label>
            <input type="password" id="login-password" name="password">

            <button class="button login-submit">Login</button>
        </form>

        <form action="" class="register-form half-right">
            <h3>Register for actree</h3>
            <p>Merk' dir deine Favoriten, schreib Reviews und Kommentare</p>

            <label for="register-username">Username</label>
            <input type="text" id="register-username" name="username">

            <label for="register-email">Email</label>
            <input type="text" id="register-email" name="email">

            <label for="register-password">Password</label>
            <input type="password" id="register-password" name="password">

            <button class="button register-submit">Login</button>
        </form>
        {{/if}}
        </div></div>
    {{/if}}
</template>

<template name="register">
    
</template>

<template name="userMenu">
    {{#if showUserMenu}}
        <div class="container">
        <div class="dialog float-right">
            <ul>
                {{#if true}}
                    <li><a href="/admin"><i class="ion-coffee"></i> Admin</a></li>
                {{/if}}
                <li><a href="">Dashboard</a></li>
                <li><a href=""><i class="ion-gear-b"></i> Settings</a></li>
                <li><a href=""></a></li>
                <li><a href="" class="user-logout"><i class="ion-log-out"></i> Logout</a></li>
            </ul>
        </div>
        </div>
    {{/if}}
</template>