<template name="nav">
    <nav class="navigation">
        <ul>
            <li class="logotype"><a href="/">actree</a></li>
            
            <li><a href="/">Kategorien</a></li>
            <li><a href="/blog">Blog</a></li>
            <li class="nav-search"><div><i class="ion-search"></i><input type="text" placeholder="Suche"></div></li>
            <li class="account {{#if showLoginOrUserMenu}}is-highlight{{/if}}">
                {{#if currentUser}}
                    <a href="" class="toggle-user-menu"><i class="ion-person"></i> {{currentUser.username}}</a>
                {{else}}
                    <a href="" class="toggle-show-login">
                        {{#if showLoginOrUserMenu}}
                            <i class="ion-close-round"></i> Close
                        {{else}}
                            <i class="ion-person"></i> Login
                        {{/if}}
                    </a>
                {{/if}}
            </li>
        </ul>

    </nav>
    {{> login}}
    {{> userMenu}}
</template>