.navigation {
    @extend %outer-gutter;
    background: $color-brand;
    @include clearfix;
    
    .logotype {
        display: block;
        //float: left;
        padding: 1rem;
        font-size: 1.5em;
        font-family: $ff-serif;
        font-weight: 700;
        text-decoration: none;
    }


    ul {
        margin: 0 auto;
        list-style: none;
        //float: left;
        max-width: $container-width;
        @include clearfix;
    }

    li {
        display: block;
        float: left;
        padding: 1em;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: 600;
    }

    #login-buttons {
        float: right;
        padding: 1em;
    }

    .account {
        float: right;
    }

    .is-highlight {
        background: lighten($color-brand, 10%);
    }

    .nav-search {
        padding: .7em .5em;
        div {
            background: lighten($color-brand, 10%);
            border-radius: 3px;
            padding: .3em .5em;
            color: white;
        }


        input {
            //opacity: 0;
            background: transparent;
            display: inline-block;
            border: 0;
            padding-left: .2em;
            //&:focus { opacity: 1}
        }
        input::-moz-placeholder {
            color: white;
            opacity: none;
            //font-weight: 700;
        }

    }
}