@mixin clearfix {
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

@mixin em($val) {
  margin-top: ($val)em;
  margin-top: ($val)rem;
}

@mixin respond-to($query) {
  @media #{$query} {
    @content;
  }
}

$query-medium: 'screen and (min-width: 481px)' !default;
$query-large: 'screen and (min-width: 769px)' !default;
