<div class="Comment">
  <h4 class="Comment-header">
    <strong>{{ anonymousAuthor.name }}</strong>
    <span class="Comment-meta">schreibt am {{ date publishedDate format="DD.MM.YYYY" }}:</span>
  </h4>
  <div class="Comment-content">{{{ content.html }}}</div>
</div>
