<form method='post' class="CommentForm" action="#new-comment">
  <input type="hidden" name="action" value="comment" />
  <fieldset>
    <label for="comment-name">Name</label>
    <input type="text" name="anonymousAuthor.name" id="comment-name" class="Input" required />
  </fieldset>

  <fieldset>
    <label for="comment-email">E-mail</label>
    <input type="text" name="anonymousAuthor.email" id="comment-email" class="Input" required />
    <div class="CommentForm__note">Wir ver&ouml;ffentlichen deine Email-Adresse nicht!</div>
  </fieldset>

  <fieldset>
    <label for="comment-text">Kommentar</label>
    <textarea name="content.md" rows="3" class="Textarea" required></textarea>
  </fieldset>

  <button type="submit" class="button">Kommentieren</button>
</form>
