$container-width: 1080px;
$content-width: 740px;
$gutter: 1rem;
$padding-horizontal: 1rem;
$padding-vertical: 1rem;
$padding-footer: 2rem;
$margin-from-menu: 3rem;

%outer-gutter {
    padding: 0 $gutter;
}

.page-container {
    @extend %outer-gutter;
    margin-top: $margin-from-menu;
    margin-bottom: $margin-from-menu;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: $container-width;
    padding-left: $gutter;
    padding-right: $gutter;
}

body {
    background: $color-background-alt;
}

#body {
    background: $color-background;
    overflow: auto;
}

.float-right {
    float: right;
}

.pure-g [class *= "pure-u"] {

}
