.excerpt {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 4rem 0 4rem 0;

    &:first-child {
      margin-top: 0;
    }

    &__image {
        margin-right: 1rem;
        max-width: 25%;
        display: none;

        @include respond-to($md) {
          display: block;
        }

        &-link {
          display: block;
        }
    }

    &__header {
      &-title {
        font-size: 1.4rem;
        margin-bottom: 0.2rem;

        a {
            border: 0;
        }
      }

      &-brief {
        margin-bottom: 1.5rem;
      }

      &-meta {
        font-size: .8rem;
        text-transform: uppercase;
        color: $color-darkgrey;
        letter-spacing: .1em;
      }
    }
}

.excerpt + .excerpt {
    border-top: 1px solid $color-lightergrey;
    padding-top: 4rem;
}


.mini {
    &:first-of-type {
        .image-link {
            display: block;
        }

    }
    .image-link {
        display: none;
    }
    .image {
        // height: 10rem;
        width: 100%;
    }
    .category {
        font-size: .8rem;
        text-transform: uppercase;
        color: $color-darkgrey;
        letter-spacing: .1em;
    }
    .title {
        font-size: 1.4rem;
        a {
            border: 0;
        }
    }
}

.mini + .mini {
    margin-top: 1rem;
}

.mini:first-of-type + .mini {
    margin-top: 2rem;
}
