<template name="nav">
    <nav class="navigation">
        <ul class="main-menu">
            <li class="logotype"><a href="/">actree</a></li>

            <li><a href="/browse">Kategorien</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/verein">Verein</a></li>
            <!-- <li class="nav-search"><div class="input"><i class="ion-search"></i><input type="text" placeholder="Suche"></div></li> -->
            <li class="account {{#if showLoginOrUserMenu}}is-highlight{{/if}} {{#if currentUser}}no-padding{{/if}}">
                {{#if currentUser}}
                    <a href="" class="toggle-user-menu">{{> avatar user=currentUser shape="circle"}}</a>
                {{/if}}
                {{> userMenu}}
                <!-- <a href="" class="button-outline">+ Neuer Eintrag</a> -->
            </li>
        </ul>

    </nav>
    {{> loginForm}}

</template>
