.browse {
  display: flex;
  flex-direction: column;

  @include respond-to($md) {
    flex-direction: row;

    .browse-nav {
      flex-basis: 25%;
    }

    .browse-entries {
      flex-basis: 75%;
    }
  }
}
