<template name="entry">
  <section class="entry container">
    <div class="pure-g">
      <div class="entry-image pure-u-1-4">
        <img src="{{ imageUrl }}">
        <a href="{{ url }}" class="button wide" data-go="resources/technik/fairphone" target="_blank">Zur Website</a>
        <div class="entry-spread">
          <h4>Sag's weiter!</h4>
          <a class="m-action" href="http://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Factree.org%2Fresources%2Ftechnik%2Ffairphone" target="_blank">
            <i class="ion-social-facebook"></i>&nbsp;<span>Facebook</span>
          </a>
          <a class="m-action" href="https://twitter.com/share?url=https%3A%2F%2Factree.org%2Fresources%2Ftechnik%2Ffairphone&amp;via=growactree&amp;text=Fairphone" target="_blank">
            <i class="ion-social-twitter"></i>&nbsp;<span>Twitter</span>
          </a>
        </div>
      </div>
      <div class="pure-u-3-4 entry-main">
        <h1 class="entry-title">{{ name }}</h1>
        <div class="entry-description is-copy">
          <!-- {{ > love }} -->
          {{ #markdown }}
{{ description }}
          {{ /markdown }}
        </div>
        <div class="entry-meta">
          <h4>Themen</h4>
          <ul>
            {{ #each topics }}
              <li>{{ > tag }}</li>
            {{ /each }}
          </ul>
          <h4>Nachhaltigkeit</h4>
          <ul>
            {{ #each sustainability }}
              <li>{{ > tag }}</li>
            {{ /each }}
          </ul>
        </div>
        <div class="entry-related">
          <h4 class="decorated">Siehe auch</h4>
          <ul>
            {{ #each relatedEntries }}
              <li>{{ > entrySmall }}</li>
            {{ /each }}
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
