*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul,
section,
header,
footer,
fieldset,
label,
input,
form {
  display: block;
  margin: 0;
  padding: 0;
  border: 0; }

table {
  width: 100%;
  border-collapse: collapse; }

td {
  padding: .2em .5em; }

th {
  padding: .2em .5em .5em .5em; }

td:first-of-type,
th:first-of-type {
  padding-left: 0; }

th {
  text-align: left; }

tr:not(:first-of-type):hover {
  background-color: #eee; }

.not-implemented {
  opacity: .5; }

img {
  display: block;
  max-width: 100%; }

.is-copy h1,
.is-copy h2,
.is-copy h3,
.is-copy h4 {
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif; }

.is-copy p,
.is-copy ul,
.is-copy ol {
  color: #444;
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 400; }

.is-copy h1,
.is-copy h2,
.is-copy h3,
.is-copy h4 {
  line-height: 1.1em; }

.is-copy p,
.is-copy li {
  line-height: 1.6em; }

.is-copy h1,
.is-copy h2,
.is-copy h3,
.is-copy h4 {
  margin-top: 2rem; }

.is-copy p:empty {
  display: none; }

.is-copy p + p,
.is-copy p + ul,
.is-copy p + ol,
.is-copy ul + p,
.is-copy ol + p {
  margin-top: 1rem; }

.is-copy h1 + p,
.is-copy h1 + ul,
.is-copy h1 + ol,
.is-copy h2 + p,
.is-copy h2 + ul,
.is-copy h2 + ol,
.is-copy h3 + p,
.is-copy h3 + ul,
.is-copy h3 + ol,
.is-copy h4 + p,
.is-copy h4 + ul,
.is-copy h4 + ol {
  margin-top: .5rem; }

.is-copy li {
  display: list-item; }

.is-copy ul,
.is-copy ol {
  padding-left: 1.5em; }

.is-copy ul {
  list-style-type: disc; }

.is-copy abbr {
  font-variant: small-caps;
  font-weight: 500; }

.is-copy a {
  display: inline;
  border-bottom: 2px solid #8dbf41; }
  .is-copy a:hover {
    border-color: #222; }

.page-container, .navigation {
  padding: 0 1rem; }

.page-container {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.container {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background: #efefef; }

#body {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: #fff; }

.wireframe {
  margin-bottom: 20px;
  padding: 20px;
  border: 0.2em solid #aaa;
  background: #ddd;
  text-align: center; }

html {
  font-size: 16px; }
  @media screen and (min-width: 48em) {
    html {
      font-size: 18px; } }

html,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif; }

body {
  color: #222;
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem; }

h1,
h2,
h3,
h4 {
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  text-rendering: optimizeLegibility; }

a {
  display: inline-block;
  color: #222;
  text-decoration: none; }

.title-page {
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.64rem; }

.title-major {
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.725rem; }

.title-minor {
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3rem; }

.title-list {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  font-family: "Bitter", "adelle", Georgia, "Times New Roman", serif;
  font-size: 1.5rem;
  line-height: 1.725rem;
  text-align: center; }

hr {
  height: 1px;
  margin: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border: none;
  border-bottom: 1px solid #ddd; }

.tag {
  display: inline-block;
  padding: .1em .3em;
  border: 0;
  border-radius: 0.2rem;
  background: #ddd;
  color: #59261a;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 0.3em 0.6em;
  border: none;
  border: 2px solid #aaa;
  border-radius: 0.2rem;
  background: #eee;
  color: #222;
  font-size: 1rem;
  line-height: 1.3rem; }

label {
  font-weight: 700; }

fieldset + fieldset,
fieldset + .button {
  margin-top: 1rem; }

.newsletter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0 4rem 0; }
  .newsletter-form input[type="text"] {
    display: block;
    -webkit-flex-grow: 7;
    -ms-flex-positive: 7;
    flex-grow: 7;
    width: auto;
    margin-right: 1rem; }
  .newsletter-form input[type="submit"] {
    display: block;
    -webkit-flex-grow: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    width: auto; }

.button, .button-outline {
  display: inline-block;
  padding: 0.3em 0.6em;
  border-radius: 0.2rem;
  outline: 0;
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }

.button {
  border: #719934 solid;
  border-width: 0 0 .1em 0;
  background-color: #8dbf41;
  color: #fff; }
  .button:hover {
    border-color: #719934 solid;
    background-color: #a4cc67;
    color: #fff;
    text-decoration: none; }
  .wide.button {
    display: block;
    width: 100%; }
  .small.button {
    font-size: .8rem; }

.button-outline {
  border: 1px solid #fff;
  background: transparent;
  color: #fff; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin-bottom: -.1em; }

.vertical-nav-list {
  display: none;
  padding-right: 1rem; }
  @media screen and (min-width: 48em) {
    .vertical-nav-list {
      display: block; } }
  .vertical-nav-list li a {
    display: block;
    padding: .25rem;
    font-weight: 400;
    cursor: pointer; }
    .vertical-nav-list li a:hover {
      background: #eee; }
  .vertical-nav-list li.active a {
    background-color: #eee;
    font-weight: 700; }
  .vertical-nav-list li:first-of-type {
    margin-bottom: 2rem; }

.vertical-nav-select {
  display: block;
  width: 100%;
  margin-bottom: 2rem; }
  @media screen and (min-width: 48em) {
    .vertical-nav-select {
      display: none; } }

.entry {
  margin-top: 3rem;
  margin-bottom: 3rem; }
  .entry .entry-title {
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.64rem;
    margin-bottom: .4em;
    text-align: center; }
    @media screen and (min-width: 48em) {
      .entry .entry-title {
        text-align: left; } }
  .entry .entry-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media screen and (min-width: 48em) {
      .entry .entry-content {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }
        .entry .entry-content .entry-aside {
          -webkit-flex-basis: 25%;
          -ms-flex-preferred-size: 25%;
          flex-basis: 25%; }
        .entry .entry-content .entry-main {
          -webkit-flex-basis: 75%;
          -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
          margin-left: 2rem; } }
  .entry .entry-aside .button {
    margin-bottom: 1rem; }
  .entry .entry-image img {
    width: 100%;
    max-width: 440px;
    margin: 0 auto 1em auto;
    border: 1px #ddd solid; }
  .entry .entry-meta h4 {
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3rem;
    margin-top: 1rem; }
  .entry .entry-meta ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none; }
    .entry .entry-meta ul li {
      margin-right: .5rem;
      margin-bottom: .5rem; }
  .entry .entry-spread {
    text-align: center; }
    @media screen and (min-width: 48em) {
      .entry .entry-spread {
        text-align: left; } }

.entry-small {
  padding: 1rem;
  background: #eee; }
  .entry-small + .entry-small {
    margin-top: 1rem; }

.entry-mini,
.entry-small {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .entry-mini + .entry-mini,
  .entry-small + .entry-mini, .entry-mini +
  .entry-small,
  .entry-small +
  .entry-small {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px dotted #ddd; }
  .entry-mini .entry-image,
  .entry-small .entry-image {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%; }
  .entry-mini .entry-main,
  .entry-small .entry-main {
    margin-left: 1rem;
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%; }
  .entry-mini .entry-title,
  .entry-small .entry-title {
    margin-bottom: .2em; }
  .entry-mini .entry-meta ul,
  .entry-small .entry-meta ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none; }
    .entry-mini .entry-meta ul li,
    .entry-small .entry-meta ul li {
      margin-right: .5rem;
      margin-bottom: .5rem; }

.aspot {
  width: 100%;
  margin: 0 auto 4rem auto;
  padding: 3rem;
  background: #8dbf41;
  color: #fff;
  text-align: center; }
  @media screen and (min-width: 1181px) {
    .aspot {
      max-width: 1080px;
      margin-top: 4rem; }
      .aspot + .aspot {
        margin-top: 0; } }
  .aspot__button {
    display: inline-block;
    margin-top: 1rem;
    padding: .5em 1em;
    border-radius: .25em;
    color: #fff;
    box-shadow: 0 0 0 3px #fff inset; }
    .aspot__button:hover {
      background-color: #fff;
      color: #8dbf41; }
  .aspot--vibrant {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); }
  .aspot--secondary {
    background-color: #efefef;
    color: #222; }

.header {
  background: #efefef; }
  .header::after {
    content: "";
    clear: both;
    display: table; }

.navigation {
  max-width: 1080px;
  margin: 0 auto;
  overflow: auto; }
  .navigation .logotype {
    display: block; }
    .navigation .logotype label,
    .navigation .logotype a {
      margin: 1rem 0 1.5rem 0;
      font-family: "Bitter", "adelle", Georgia, "Times New Roman", serif;
      font-size: 2rem;
      font-weight: 700;
      line-height: 2rem;
      text-decoration: none; }
    .navigation .logotype .a {
      display: inline-block;
      border-bottom: 4px solid #8dbf41; }
  .navigation .main-menu {
    display: none;
    margin-bottom: 1rem;
    list-style: none; }
    .navigation .main-menu::after {
      content: "";
      clear: both;
      display: table; }
    .navigation .main-menu li {
      display: block;
      border-bottom: 1px solid #ddd; }
      .navigation .main-menu li a {
        display: block;
        padding: .4rem .4rem; }
      .navigation .main-menu li.active {
        background: #ddd; }
  .navigation .open:hover + .main-menu {
    display: block; }
  .navigation a {
    color: #222;
    font-weight: 600;
    text-decoration: none; }
  .navigation input[type="checkbox"] {
    display: none; }
  .navigation label {
    cursor: pointer; }
  .navigation .open {
    float: right;
    display: block; }
    @media screen and (min-width: 48em) {
      .navigation .open {
        display: none; } }
  .navigation .close {
    float: right;
    display: none; }
  .navigation #menu-open:checked + .logotype .open {
    display: none; }
  .navigation #menu-open:checked + .logotype .close {
    display: block; }
  .navigation #menu-open:checked ~ .main-menu {
    display: block; }
  @media screen and (min-width: 48em) {
    .navigation .menu-toggle {
      display: none; }
    .navigation .main-menu {
      float: left;
      display: block;
      margin-bottom: 0; }
      .navigation .main-menu li {
        float: left;
        border: 0; }
        .navigation .main-menu li a {
          display: inline-block;
          padding: 1.25rem 1rem;
          line-height: 2rem; }
        .navigation .main-menu li.narrow a {
          padding: 1.25rem 0.5rem; }
        .navigation .main-menu li.active {
          background: transparent; }
        .navigation .main-menu li.active span {
          border-bottom: 3px solid #8dbf41; }
    .navigation .logotype {
      float: left; }
      .navigation .logotype a {
        margin: 1rem 1rem 1.5rem 0; }
    .navigation #menu-open:checked + .logotype .close,
    .navigation #menu-open:checked + .logotype .open {
      display: none; } }

.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 10px #8dbf41 solid;
  background: #efefef;
  color: #444;
  text-align: center; }
  .footer p {
    margin-bottom: 1rem; }
  @media screen and (min-width: 48em) {
    .footer {
      text-align: left; } }

/* Single comment */
.comment {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dotted #eee; }
  .comment .comment-header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .comment .comment-content {
    font-family: "Bitter", "adelle", Georgia, "Times New Roman", serif; }

/* Comments section */
.comments {
  min-height: 30vh; }
  .comments .comments-header {
    margin-top: 4rem;
    margin-bottom: 2rem;
    background-color: #efefef; }
    .comments .comments-header > div {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      max-width: 740px;
      margin: 0 auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .comments .banner-inline {
    margin-bottom: 2rem; }
  .comments .comments-title {
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3rem;
    display: inline-block;
    line-height: 2rem; }

.banner,
.banner-inline {
  padding: .4em 0;
  background: #ddd;
  text-align: center; }
  .banner .container,
  .banner-inline .container {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .banner .close,
  .banner-inline .close {
    display: inline-block;
    margin-left: 1rem;
    border: 0; }

.banner-inline {
  background: #eee;
  text-align: left; }

.excerpt {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 4rem 0 4rem 0; }
  .excerpt:first-child {
    margin-top: 0; }
  .excerpt__image {
    display: none;
    max-width: 25%;
    margin-right: 1rem; }
    @media screen and (min-width: 48em) {
      .excerpt__image {
        display: block; } }
    .excerpt__image-link {
      display: block; }
  .excerpt__header-title {
    margin-bottom: .2rem;
    font-size: 1.5rem;
    line-height: 1.725rem; }
    .excerpt__header-title a {
      border: 0; }
  .excerpt__header-brief {
    margin-bottom: 1.5rem; }
  .excerpt__header-meta {
    color: #666;
    font-size: .8rem;
    letter-spacing: .1em;
    text-transform: uppercase; }

.excerpt + .excerpt {
  padding-top: 4rem;
  border-top: 1px solid #ddd; }

.mini:first-of-type .image-link {
  display: block; }

.mini .image-link {
  display: none;
  margin-bottom: .5rem; }

.mini .image {
  width: 100%; }

.mini .category {
  color: #666;
  font-size: .8rem;
  letter-spacing: .1em;
  text-transform: uppercase; }

.mini .title {
  font-size: 1.5rem;
  line-height: 1.725rem; }
  .mini .title a {
    border: 0; }

.mini + * {
  margin-top: 2rem; }

.browse {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 48em) {
    .browse {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .browse .browse-nav {
        -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
      .browse .browse-entries {
        -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%; } }

.home-latest-entries {
  margin-top: 4rem; }

@media screen and (min-width: 64em) {
  .home-latest-blogs {
    padding-right: 1rem; }
  .home-latest-entries {
    margin-top: 0;
    padding-left: 1rem; } }

.home-latest {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .home-latest > * {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  @media screen and (min-width: 64em) {
    .home-latest {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .home-latest .home-latest-blogs {
        padding-right: 1rem; }
      .home-latest .home-latest-entries {
        margin-top: 0;
        padding-left: 1rem; } }

.maps {
  height: 100%; }
  .maps__iframe {
    width: 100%;
    height: 100%;
    min-height: 500px;
    border: none; }

.blog-title {
  font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.64rem;
  margin-bottom: 2rem;
  line-height: 1.1em; }

.post {
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .post .post-content,
  .post .post-category,
  .post .post-title,
  .post .post-meta,
  .post .post-image,
  .post .post-footer {
    max-width: 740px; }
  .post .post-title {
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.64rem;
    margin-bottom: 2rem;
    line-height: 1.1em; }
  .post .post-category {
    color: #aaa;
    font-size: 0.8rem;
    letter-spacing: .1em;
    text-transform: uppercase; }
  .post .post-meta {
    margin-bottom: 3rem; }
    .post .post-meta p {
      font-family: "Bitter", "adelle", Georgia, "Times New Roman", serif;
      font-size: 1rem;
      line-height: 1.3rem; }
  .post .post-image {
    position: relative; }
    .post .post-image .credit {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
      padding: .7em 1em .5em;
      border-radius: .5em 0 0;
      background: rgba(255, 255, 255, 0.5);
      color: #222;
      font-size: 0.6rem;
      font-weight: 400;
      line-height: 1em; }
    .post .post-image img {
      width: 100%;
      margin-bottom: 2rem; }
  .post .post-footer {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4rem;
    padding: 1rem;
    background: #efefef;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .post .post-footer img {
      margin-right: 1rem; }

@media screen and (min-width: 48em) {
  .blog-post .title {
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.64rem; } }

.page {
  margin-top: 4rem;
  margin-bottom: 4rem; }
  .page .page-content,
  .page .page-title {
    max-width: 740px; }
  .page .page-title {
    font-family: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.64rem;
    margin-bottom: 2rem;
    line-height: 1.1em; }
