<template name="comment">
  <div class="comment">
    <header class="comment-header">
      <h4 class="author">{{author}}</h4>
      <div class="date">{{formatDate createdAt}}</div>
    </header>
    {{#if mine}}
        <aside>
            <a href="#" class="delete-comment"><i class="ion-trash-a"></i> Kommentar löschen</a>
        </aside>
    {{/if}}
    <div class="comment-content">{{#markdown}}{{content}}{{/markdown}}</div>
  </div>
</template>

<template name="createComment">
    {{#if currentUser }}
    Du kommentierst als <strong>{{username}}</strong>
    {{else}}
    Du bist nicht eingeloggt und kommentierst anonym.
    {{/if}}
    <form action="" class="comment-form" id="comment-form">
        <input type="hidden" name="postId" value="{{_id}}">

        {{#unless currentUser }}
        <fieldset>
            <label for="comment-name">Dein Name</label>
            <input type="text" id="comment-name" required>
        </fieldset>

        <fieldset>
            <label for="comment-email">Deine Email-Adresse</label>
            <input type="email" id="comment-email" name="email" required>
        </fieldset>
        {{/unless}}

        <fieldset>
            <label for="comment-text">Dein Kommentar</label>
            <textarea name="text" id="comment-text" rows="4" required>
Lorem ipsum dolor sit amet...
            </textarea>
        </fieldset>

        <button class="button" type="submit">Kommentieren</button>&nbsp;&nbsp;&nbsp;<a href="" class="cancel">Abbrechen</a>
    </form>
</template>

<template name="unpublishedComment">
    <div class="banner banner-inline">
        <div class="container">
            <strong>Danke für deinen Kommentar!</strong> Wir werden ihn so schnell wie möglich prüfen und freischalten &mdash; erst dann wird er hier angezeigt werden. Danke für deine Geduld!
        </div>
    </div>
</template>
