<template name="blogPost">
  <section class="container">
    <article class="pure-g blog-post">
        <header class="pure-u-1">
            <div class="category">{{category}}</div>
            <h1 class="title">{{ title }}</h1>
            <summary class="meta">
                <p>{{summary}}</p>
                <em>von</em> {{ nameFor createdBy }}
            </summary>
            <img class="title-image" src="{{headerImage}}" alt="">
        </header>

        <aside class="pure-u-9-24">
            Published on <strong>{{formatDay publishedAt}}</strong><br>
            Category <strong>{{category}}</strong><br>
        </aside>
        <section class="is-copy pure-u-15-24">
{{#markdown}}
{{content}}
{{/markdown}}
        </section>

    </article>
  </section>
  <section class="comments">
    <header class="comments-header">
      <div class="container pure-g">
        <div class="pure-u-9-24"></div>
          <div class="pure-u-15-24">
            <h3 class="comments-title">{{commentCount}} Kommentare</h3>
            {{#unless showCreateComment}}<button class="js-toggle-comment">Kommentieren</button>{{/unless}}
          </div>
        </div>

    </header>

    <div class="container pure-g">
      <div class="pure-u-9-24"></div>
      <div class="pure-u-15-24">
        {{#if showCreateComment}}
        <div class="">{{> createComment}}</div>
        {{/if}}
        <ul class="">
          {{#each comments}}
            <li>{{> comment}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>
</template>
