.banner {
  // display: none;
  background: $color-lightergrey;
  padding: .4em 0;
  text-align: center;

  .container {
    position: relative;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
  .close {
    display: inline-block;
    border: 0;

    margin-left: $gutter;
  }
}
