.blog-post {
  .title {
    margin: 0 auto;
    text-align: center;

    margin-top: .1rem;
    margin-bottom: 2rem;

    font-family: $ff-sans;
    font-weight: 700;
  }

  .separator {
    margin: 0 auto;
    width: 10em;

    height: .4rem;
    border: 0;
    background: $color-brand;
    margin-bottom: 4rem;
  }

  .category {
    margin: 3rem auto 0 auto;
    font-size: .8rem;

    text-align: center;
    text-transform: uppercase;
    color: $color-lightgrey;
    letter-spacing: .1em;
  }

  summary {
    margin: 0 25%;
    text-align: center;

    margin-bottom: 3rem;

    p {
      font-family: $ff-serif;
      font-size: 1.1rem;
    }
  }

  .title-image {
    margin-bottom: 2rem;
    width: 100%;
  }

  aside {
    line-height: 1.6em;
    margin-top: 0.5em;
  }
}

.is-copy {
  h1, h2, h3, h4 {
    font-family: $ff-sans;
  }

  p, ul, ol {
    font-family: $ff-serif;
    font-weight: 400;
    color: #444;
  }

  // Tracking
  h1, h2, h3, h4 {
    line-height: 1.1em;
  }
  p, li {
    line-height: 1.6em;
  }


  // Spacing
  h1, h2, h3, h4 {
    margin-top: 2rem;
  }

  p {
    margin-top: .5em;
  }
  p + p,
  p + ul,
  p + ol {
    margin-top: 1em;
  }

  // Lists
  li {
    display: list-item;
  }
  ul, ol {
    padding-left: 1.5em;
  }
  ul {
    list-style-type: disc;
  }

  abbr {
    font-variant: small-caps;
    font-weight: 500;
  }

  a {
      border-bottom: 2px solid $color-brand;
      &:hover {
          border-color: $color-text;
      }
  }
}
