%entry {


  .entry-title {
    @extend %title-page;

    text-align: center;
    margin-bottom: .4em;

    @include respond-to( $query-medium ) {
      text-align: left;
    }
  }

  .entry-description {

  }

  .entry-main {
    padding-left: $padding-horizontal;
  }

  .entry-image {

    img {
      border: 1px #ddd solid;
      width: 100%;
      margin-bottom: 1em;
    }

    .button {
      margin-bottom: $padding-vertical;
    }
  }

  .entry-meta {
    h4 {
      @extend %title-minor;
      margin-top: $padding-vertical;
    }

    ul {
      @include clearfix();
      list-style: none;

      li {
        margin-right: .5rem;
        float: left;
      }
    }
  }

  .entry-spread {
    text-align: center;

    @include respond-to($query-medium) {
      text-align: left;
    }

    i {
        //width: 1em;
        //text-align: center;
    }
  }

  .entry-related {
    h4 {
      @extend %title-minor;
      margin-top: $padding-vertical;
    }
  }
}

.entry {
  @extend %entry;

  margin-top: $margin-from-menu;
  margin-bottom: $margin-from-menu;
}

.entry-small {
  @extend %entry;

  background: $color-lightestgrey;
  padding: 1rem;

  & + & {
    margin-top: 1rem;
  }

  .entry-content {
    padding-left: 1rem;
  }
}
