<footer class="footer">
    <div class="container">
        <div>
            <p><a href="/actree/impressum">Impressum</a>. Mit <i class="ion-ios-heart" aria-label="Liebe"></i> gemacht. &copy; 2014&ndash;{{date format="YYYY"}} actree e.V.</p>
        </div>
        <div>
            <p>
                <a href="https://www.facebook.com/growactree" target="_blank"><i class="ion-social-facebook"></i> Facebook</a>&nbsp;&nbsp;&nbsp;
                <a href="https://twitter.com/growactree" target="_blank"><i class="ion-social-twitter"></i> Twitter</a>
            </p>
        </div>
    </div>
</footer>

<script>
(function (window, document) {
var menu = document.getElementById('menu'),
    WINDOW_CHANGE_EVENT = ('onorientationchange' in window) ? 'orientationchange':'resize';

function toggleHorizontal() {
    [].forEach.call(
        document.getElementById('menu').querySelectorAll('.custom-can-transform'),
        function(el){
            el.classList.toggle('pure-menu-horizontal');
        }
    );
};

function toggleMenu() {
    // set timeout so that the panel has a chance to roll up
    // before the menu switches states
    if (menu.classList.contains('open')) {
        setTimeout(toggleHorizontal, 500);
    }
    else {
        toggleHorizontal();
    }
    menu.classList.toggle('open');
    document.getElementById('toggle').classList.toggle('x');
};

function closeMenu() {
    if (menu.classList.contains('open')) {
        toggleMenu();
    }
}

document.getElementById('toggle').addEventListener('click', function (e) {
    toggleMenu();
});

window.addEventListener(WINDOW_CHANGE_EVENT, closeMenu);
})(this, this.document);

</script>
