.post {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .post-content,
    .post-category,
    .post-title,
    .post-meta,
    .post-image,
    .post-footer {
        max-width: $content-width;
        // margin: 0 auto;
    }

    .post-title {
        @extend %title-page;
        margin-bottom: 2rem;
        line-height: 1.1em;
    }

    .post-category {
        font-size: $fs-small;
        text-transform: uppercase;
        color: $color-text-light;
        letter-spacing: .1em;
    }

    .post-meta {
        margin-bottom: 3rem;

        @include respond-to($md) {}

        p {
            font-family: $ff-serif;
            font-size: 1.1rem;
        }
    }

  .post-image {
        position: relative;

        .credit {
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            font-size: .6em;
            background: rgba(255,255,255,.5);
            padding: .7em 1em .5em;
            line-height: 1em;
            color: #222;
            font-weight: 400;
            border-radius: .5em 0 0;
        }

        img {
            margin-bottom: 2rem;
            width: 100%;
        }
    }

    .post-footer {
        background: $color-background-alt;
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 4rem;

        img {
            margin-right: 1rem;
        }
    }

  aside {
    line-height: 1.6em;
    margin-top: 0.5em;
  }
}

@include respond-to($md) {
    .blog-post .title {
        @include title-page;
    }

}
