%navigation {
    @extend %outer-gutter;
    @include clearfix;
    transform-origin: center center;
    transform: rotateZ(2deg);
    background: $color-brand;

    position: relative;

    .main-menu .logotype {
        display: block;
        //float: left;
        padding: 1rem;
        font-size: 2rem;
        font-family: $ff-serif;
        font-weight: 700;
        text-decoration: none;
        line-height: 2rem;

        .a {
            display: inline-block;
            border-bottom: 4px solid $color-brand;
        }
    }


    .main-menu {
        @include clearfix;

        margin: 0 auto;
        list-style: none;
        //float: left;
        max-width: $container-width;


        li {
            display: block;
            float: left;
            padding: 1em;
            position: relative;
            line-height: 2rem;

            &.active {
                background-color: darken($color-brand, 5%);
            }
        }
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        border: 0;
        &:hover {
            border: 0;
        }
    }



    #login-buttons {
        float: right;
        padding: 1em;
    }

    .main-menu .account {
        float: right;
        a {
            display: inline-block;
        }
    }

    .main-menu .no-padding {
        padding-top: .5em;
        padding-bottom: .5em;
    }

    .is-highlight {
        background: lighten($color-brand, 10%);
    }

    .main-menu .nav-search {
        padding: .7em .5em;

        div {
            background: lighten($color-brand, 10%);
            border-radius: 3px;
            padding: .3em .5em;
            color: white;
        }


        input {
            display: inline-block;
            //opacity: 0;
            background: transparent;

            border: 0;
            padding-left: .2em;
            width: auto;
            //&:focus { opacity: 1}
        }
        input::-moz-placeholder {
            color: white;
            opacity: none;
            //font-weight: 700;
        }

    }
}

.navigation {
    @extend %navigation;

    background: white;
    transform:none;
    a {
        color: black;
    }

    .main-menu .logotype {
        padding: 2rem 1rem;
    }

    .main-menu li {
        padding: 2rem 1rem;

        &.active {
            background: transparent;
            a {
                border-bottom: 3px solid $color-brand;
            }
        }
    }
}
