.header {

    @include clearfix;
    background: $color-background-alt;
}

$logo-fs: 2rem;
$logo-height: $logo-fs * 1.0;
$logo-padding-top: $logo-fs / 2;
$logo-padding-bottom: $logo-padding-top * 1.5;

.navigation {
    max-width: $container-width;
    @extend %outer-gutter;
    margin: 0 auto;
    overflow: auto;

    .logotype {
        display: block;

        label, a {
            margin: $logo-padding-top 0rem $logo-padding-bottom 0rem;
            font-size: $logo-fs;
            line-height: $logo-height;
            // height: $logo-height;
            font-family: $ff-serif;
            font-weight: 700;
            text-decoration: none;
        }

        .a {
            display: inline-block;
            border-bottom: 4px solid $color-brand;
        }
    }

    .main-menu {
        @include clearfix;

        list-style: none;
        display: none;
        margin-bottom: $logo-padding-top;


        li {
            display: block;
            border-bottom: 1px solid $color-lightergrey;
            a {
                padding: 0.4rem 0.4rem;
                display: block;
            }
            &.active {
                background: $color-lightergrey;
            }
        }
    }
    .open:hover + .main-menu {
        display: block;
    }
    a {
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

    input[type="checkbox"] {
        display: none;
    };

    label {
        cursor: pointer;
    }

    .open {
        display: block;
        float: right;
        @include respond-to($md) {
            display: none;
        }
    }

    .close {
        display: none;
        float: right;
    }

    #menu-open:checked + .logotype {
        .open {
            display: none;
        }
        .close {
            display: block;
        }
    }

    #menu-open:checked ~ .main-menu {
        display: block;
    }

    @include respond-to($md) {
        .menu-toggle {
            display: none;
        }
        .main-menu {
            display: block;
            margin-bottom: 0;
            float: left;
            li {
                float: left;
                border: 0;

                a {
                    display: inline-block;
                    line-height: $logo-height;
                    padding: ($logo-padding-top + $logo-padding-bottom) / 2 1rem;
                }

                &.narrow a {
                    padding: ($logo-padding-top + $logo-padding-bottom) / 2 0.5rem;
                }

                &.active {
                    background: transparent;
                }

                &.active span {
                    border-bottom: 3px solid $color-brand;
                }
            }
        }
        .logotype {
            float: left;

            a { margin: $logo-padding-top 1rem $logo-padding-bottom 0rem; }
        }
        #menu-open:checked + .logotype {
            .close, .open {
                display: none;
            }
        }
    }
}
