@import "palette";

// https://palx.jxnblk.com/90c040

$green: #8dbf41;
// $green: #d4fc79;
// $green: #96e6a1;
$gradient: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
// $color-green: #1d781d;
$brown: #59261a;

$color-darkestgrey: #222;
$color-darkergrey: #444;
$color-darkgrey: #666;
$color-grey: #999;
$color-lightgrey: #aaa;
$color-lightergrey: #ddd;
$color-lightestgrey: #eee;
$color-black: #222;
$color-white: #fff;

$color-grey-50: $color-lightestgrey;
$color-grey-100: $color-lightergrey;
$color-grey-300: $color-lightgrey;
$color-grey-500: $color-grey;
$color-grey-600: $color-darkgrey;
$color-grey-700: $color-darkergrey;
$color-grey-900: $color-darkestgrey;

$color-green-500: $green;

$color-accent-light: #b6d96a;

// $color-button: $color-accent;

$color-on-primary: $color-darkergrey;

// BACKGROUND
$color-background: #fff;
$color-background-alt: #efefef;

// TEXT
$color-text: $color-darkestgrey;
$color-text-light: $color-lightgrey;

$color-link: $brown;
$color-link-hover: darken($color-link, 10%);

$color-text-inverted: #fff;

// MEANING
$color-brand: $green;
$color-accent: $green;

// CTA
$color-cta: $green;
