$base: #90c040;
$black: #3b4132;
$gray0: #f8f9f7;
$gray1: #eceee9;
$gray2: #dee1d9;
$gray3: #d0d4c8;
$gray4: #bfc6b5;
$gray5: #aeb5a0;
$gray6: #99a389;
$gray7: #818d6d;
$gray8: #666f56;
$gray9: #3b4132;
$lime0: #f0f6e5;
$lime1: #e1edca;
$lime2: #d0e4ad;
$lime3: #bdd98d;
$lime4: #a8cd69;
$lime5: #91c040;
$lime6: #83ad39;
$lime7: #739832;
$lime8: #5f7e2a;
$lime9: #445a1e;
$green0: #e9f7e7;
$green1: #d2eece;
$green2: #b8e5b2;
$green3: #9bdb92;
$green4: #7ace6d;
$green5: #51c040;
$green6: #49ad39;
$green7: #409832;
$green8: #357e2a;
$green9: #265a1e;
$teal0: #e7f7ed;
$teal1: #ceeeda;
$teal2: #b2e5c5;
$teal3: #92dbad;
$teal4: #6dce91;
$teal5: #40c06f;
$teal6: #39ad64;
$teal7: #329858;
$teal8: #2a7e49;
$teal9: #1e5a34;
$cyan0: #e7f7f5;
$cyan1: #cdeeea;
$cyan2: #b1e5de;
$cyan3: #91dad1;
$cyan4: #6ccec1;
$cyan5: #40c0af;
$cyan6: #39ad9e;
$cyan7: #32988a;
$cyan8: #2a7e73;
$cyan9: #1e5a52;
$blue0: #e8f2f7;
$blue1: #cfe3ef;
$blue2: #b4d4e6;
$blue3: #94c1dc;
$blue4: #6faccf;
$blue5: #4091c0;
$blue6: #3982ad;
$blue7: #327297;
$blue8: #295e7d;
$blue9: #1d4358;
$indigo0: #ebedf8;
$indigo1: #d5d9f1;
$indigo2: #bcc2e9;
$indigo3: #9ea7df;
$indigo4: #7985d2;
$indigo5: #4051c0;
$indigo6: #3948ac;
$indigo7: #323f96;
$indigo8: #28337a;
$indigo9: #1c2354;
$violet0: #f0ebf8;
$violet1: #e0d5f1;
$violet2: #cdbde9;
$violet3: #b79fdf;
$violet4: #9b7ad3;
$violet5: #6f40c0;
$violet6: #6339ac;
$violet7: #563296;
$violet8: #46287a;
$violet9: #311c55;
$fuschia0: #f6ebf8;
$fuschia1: #edd5f1;
$fuschia2: #e3bce8;
$fuschia3: #d69edf;
$fuschia4: #c678d2;
$fuschia5: #af40c0;
$fuschia6: #9d39ad;
$fuschia7: #893297;
$fuschia8: #71297c;
$fuschia9: #501d58;
$pink0: #f8ebf3;
$pink1: #f1d5e7;
$pink2: #e9bcd8;
$pink3: #df9ec7;
$pink4: #d279b1;
$pink5: #c04091;
$pink6: #ad3982;
$pink7: #973272;
$pink8: #7c295e;
$pink9: #581d42;
$red0: #f8ebed;
$red1: #f1d5d9;
$red2: #e9bdc2;
$red3: #df9fa8;
$red4: #d37a85;
$red5: #c04051;
$red6: #ad3949;
$red7: #97323f;
$red8: #7c2934;
$red9: #571d25;
$orange0: #f7eee8;
$orange1: #efdcd0;
$orange2: #e6c7b5;
$orange3: #dcb096;
$orange4: #d09371;
$orange5: #c06f40;
$orange6: #ad6439;
$orange7: #975732;
$orange8: #7c4829;
$orange9: #58331d;
$yellow0: #f6f4e5;
$yellow1: #ede9ca;
$yellow2: #e4dcad;
$yellow3: #d9cf8d;
$yellow4: #cdc069;
$yellow5: #c0af40;
$yellow6: #ad9e39;
$yellow7: #988a32;
$yellow8: #7e732a;
$yellow9: #5a521e
