*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Reset
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol,
ul,
section,
header,
footer,
fieldset,
label,
input,
form {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: .2em .5em;
}

th {
  padding: .2em .5em .5em .5em;
}

td:first-of-type,
th:first-of-type {
  padding-left: 0;
}

th {
  text-align: left;
}

tr:not(:first-of-type):hover {
  background-color: $color-lightestgrey;
}

.not-implemented {
  opacity: .5;
}

img {
  display: block;
  max-width: 100%;
}
