$font-family-serif: "Bitter", "adelle", Georgia, "Times New Roman", serif;
$font-family-sans: "Source Sans Pro", Helvetica, Arial, Verdana, sans-serif;

$font-size-xl: 2.4rem;
$font-size-lg: 2rem;
$font-size-md: 1.5rem;
$font-size-base: 1rem;
$font-size-sm: .8rem;
$font-size-xs: .6rem;

$line-height-xl: 2.64rem;
$line-height-lg: 2.4rem;
$line-height-md: 1.725rem;
$line-height-base: 1.3rem;

$border-radius-sm: .2rem;

$spacing-sm: 6px;
$spacing-base: 12px;
$spacing-md: 18px;
$spacing-lg: 24px;
